*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-size: 100%; /* Para trabalhar com unidades de medidas rem*/ 
    list-style-type: none;
}

body{
    background: var(--background-body);
    font: 400 16px "Poppins", sans-serif; 
}

.app{
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px;
    width: 100%;
    max-width: 1366px;
    padding: 0 2%;
    margin: 160px auto 100px;
}

.projects{
    grid-column: 1 / 3;
}

.card{
    border-radius: 12px;
    background: var(--background-card);
    box-shadow: var(--shadow-card);
}

.subtitle{
    font-size: var(--font-28);
    font-weight: 600;
    color: var(--font-title);
}
