.about{
    padding: 32px;
}

.about p{
    font-size: var(--font-16);
    color: var(--font-about);
    line-height: 1.6;
    font-weight: 300;
    margin-top: 12px;
}

span{
    color: var(--span);
}


@media (max-width: 1080px) {
    .about{
        padding: var(--font-24);
    }

    .about p{
        font-size: var(--font-14);
        
    }
}
